<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="toolbar-content">
    <div class="logo"><span>Visual Algorithm Sorter</span></div>
    <div>
      <button mat-stroked-button (click)="generateArray(sliderValue)">
        New Array
      </button>
      <mat-slider [min]="4" [max]="125"[thumbLabel]="true" [(ngModel)]="sliderValue" (input)="onInputChange($event)">
      </mat-slider>
      <mat-radio-group [(ngModel)]="selectedAlgo">
        <mat-radio-button value="mergeSort" (click)="generateArray(sliderValue)">Merge Sort</mat-radio-button>
        <mat-radio-button value="quickSort" (click)="generateArray(sliderValue)">Quick Sort</mat-radio-button>
        <mat-radio-button value="heapSort" (click)="generateArray(sliderValue)">Heap Sort</mat-radio-button>
        <mat-radio-button value="bubbleSort" (click)="generateArray(sliderValue)">Bubble Sort</mat-radio-button>
      </mat-radio-group>
      <button mat-stroked-button (click)="sort(selectedAlgo)">Sort</button>
    </div>
  </div>
</div>

<div class="content">
  <div class="graph">
    <div *ngFor="let item of array | async; let i = index " class="bar" [ngStyle]="length(item.value, item.color)">
      <p>.</p>
    </div>
  </div>
</div>
